<div class="mt-4">
  <ul class="list-disc pl-6 space-y-2">
    <!-- Display existing comments -->
    @for(comment of filteredData; track comment) {
      <li class="bg-gray-100 p-2 rounded flex justify-between items-center">
        <div>
          <p class="text-sm text-gray-700">{{ comment.editorsId }}</p>
          <!-- Display comment or edit field -->
          @if (editingCommentId !== comment.id) {
            <div>
              <p class="text-xs text-gray-500">- {{ comment.content }}</p>
            </div>
          } @else {
            <input
              [(ngModel)]="editCommentContent"
              type="text"
              class="w-full p-2 border rounded"
              />
            }
          </div>

          @if (user?.name == comment.editorsId) {
            <div class="flex items-center space-x-2">
              @if (editingCommentId != comment.id) {
                <button
                  class="text-blue-500 hover:text-blue-700"
                  (click)="startEditing(comment)"
                  >
                  ✏️
                </button>
              }
              @if (editingCommentId == comment.id) {
                <button
                  class="text-green-500 hover:text-green-700"
                  (click)="saveEdit(comment)"
                  >
                  ✔️
                </button>
              }
              <button
                class="text-red-500 hover:text-red-700"
                (click)="deleteComment(comment.id)"
                >
                🗑️
              </button>
            </div>
          }
        </li>
      }

      <div class="mt-4">
        <input
          [(ngModel)]="newComments[articleId]"
          type="text"
          placeholder="Add a comment"
          class="w-full p-2 border rounded"
          />
          <button
            class="bg-green-500 text-white px-4 py-2 mt-2 rounded hover:bg-green-600"
            (click)="addComment()"
            >
            Add Comment
          </button>
        </div>
      </ul>
    </div>
